


body {
    margin: 0;
    background: #eee;
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
text align:center;
    
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 900px;
    margin: auto;
}


#landing-image {
    background: url(https://source.unsplash.com/De8wMYoSSBc);
    background-position: center;
    background-size: cover;
    flex: 0 1 60vw;
}

.btn {
    color: #020908;
    transition: background 500ms ease;
}



#header h2 {
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

#header {
    text-align: center;
}

.caption {
    text-align: center;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

footer p a {
    
    color: ;
}



@media(min-width: 31.25rem) {
    #landing {
        display: flex;
        height: 100%;
    }

    #landing-text {
        height: 100vh;
    }

    #landing-image {
        height: 100vh;
    }
}



.carousel-img {
    display: flex;
    flex-direction: row;
}